# =======  INSTRUÇÕES PARA CONFIGURAR AS VARIAVEIS DE AMBIENTE 

# substitua os campos abaixo pelos seus dados reais e tbm renomeie esse arquivo para apenas .env e conseguir usar as variaveis

DATABASE_URL=mongodb+srv://seu_nome_db_user:sua_senha_segura@database.lrxvade.mongodb.net/nome_banco?appName=database